@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes opacity {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


body {
    background-image: url("../assets/imgs/background.svg");
    background-repeat: no-repeat;
    object-fit: contain;
}

.upper-navbar {
    height: 5px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.nav-bar {
    display: flex;
    justify-content: center;

    gap: 350px;
    position: relative;
}

.nav-center {
    background: #000;
    position: absolute;
    width: 25%;
    min-width: 160px;
    max-width: 240px;
    height: 110vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* .nav-logo {
    background: #000;
    width: 30%;
    max-width: 261px;
    height: 100vh;

    text-align: center;
} */

.nav-logo-top {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 35px;
}

.nav-logo-img {
    margin-top: 30px;
    object-fit: contain;
    max-width: 200px;
    width: 75%;
    height: auto;

    transition: all 0.5s;
    animation: opacity 2s;
}

.nav-logo-img:hover {
    transform: scale(105%);
    opacity: 0.8;
}

.nav-list {
    display: flex;

    padding: 45px 20px;
    gap: 45px;

    transition: all 1s;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    list-style-type: none;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s;
    animation: opacity 1s;



    a {
        color: #080808;
        text-decoration: none;

    }

    span {
        height: 2px;
        width: 0;
        background-color: #000;
        border-radius: 100px;
        transition: width 0.4s;
    }
}

.nav-item:hover {
    transform: translateY(-3px);

    span {
        width: 100%;
    }
}

.hamburguer {
    display: none;
}

.bar {
    height: 3px;
    width: 25px;

    background-color: aliceblue;

    border-radius: 100px;

    margin-bottom: 5px;


}

@media screen and (max-width: 1100px) {

    .hamburguer {
        display: block;
    }

    .nav-list {
        display: none;
    }

}